/* BookAppointment.css */
.book-appointment {
    margin-top: 20px;
  }
  
  .book-appointment h1 {
    color: #007bff;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group button, .form-group .date-picker {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-group .date-picker {
    padding: 0 10px;
  }
  
  .form-group button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  